<p id="notice"><%= notice %></p>

<p>
  <b>Lei:</b>
  <%= @shezhi.lei %>
</p>

<p>
  <b>Way:</b>
  <%= @shezhi.way %>
</p>


<%= link_to 'Edit', edit_shezhi_path(@shezhi) %> |
<%= link_to 'Back', shezhis_path %>
