<head>
<link href="/assets/custom.css?body=1" media="all" rel="stylesheet" type="text/css">
	<style type="text/css">
	.index-bg{
		width: 100%;
		height: 100%;
		background:url("<%= image_path('index-bg01.jpg')%>") no-repeat  center center fixed;
	}
  .btn{
    width: 80px;
    margin-right: 10px;
  }
  label{
  	width: 60px;
  	font-size: 18px;
  }
  .form-control{
		width: 300px;
		height: 30px;
		margin-left: 10px;
	}
	.top{
		margin-top: 55px;
	}
	</style>
</head>
<div class='index-bg'>
	<div class='index-table'>
		<%= bootstrap_form_for(:session, url: sessions_path) do |f| %>

    <%= f.text_field :email,:class=>"top" ,:label=> "邮箱"%>
    <%= f.password_field :password,:label=> "密码" %>
    <%= f.submit "登入",:class=>"btn btn-primary btn-form" %>
    <%= link_to "注册", signup_path, :class=>"btn btn-primary" %>

<% end %>
	</div>
</div>