<%= bootstrap_form_for(@item) do |f| %>
  <div class="field">
      <%= f.alert_message "Please fix the errors below." %>
      <%= f.text_field( :price, prepend: "$", append: ".00", hide_label: :true,:placeholder=>"金额：") %>
      <%= f.text_field( :time, :label=> "时间",:class=>"form-input datepicker",:placeholder=>"title") %>
      <%= f.select( :lei, [['支出', '支出'], ['收入', '收入']],{},{:label=>"类型",:class=>"form-input"} ) %>
      <%= f.select( :way, [['餐饮饮食', '餐饮饮食'], ['日常用品', '日常用品'], ['文化娱乐', '文化娱乐'], ['交通通讯', '交通通讯'], ['美容装扮', '美容装扮'], ['人情往来', '人情往来'], ['其他支出', '其他支出'], ['收入', '收入']],{},{:label=>"用途",:class=>"form-input"} ) %>
      <%= f.text_field( :ps, :label=>"备注",:class=>"form-input", :placeholder=>"title" ) %>
      <%= f.submit "保存",:class=>"btn btn-primary btn-form"%>
</div>
<% end %>
<script type="text/javascript">
  $('.datepicker').datetimepicker({
    format: 'yyyy-mm-dd',
    startDate: '-3d',
    startView: '2'
})
</script>