$('.item-sz').val('');

$('.my-table').find(".tou").after("<tr class='danger'><td><%= escape_javascript(@item.time.to_s)%></td><td><%= escape_javascript(@item.lei)%></td><td><%= escape_javascript(@item.way)%></td><td><%= escape_javascript(@item.price.to_s)%></td><td><%= escape_javascript(@item.ps)%></td><td><%= escape_javascript(link_to('', edit_item_path(@item),:class=>'glyphicon glyphicon-pencil')) %><%= escape_javascript(link_to('', @item, method: :delete,:remote=>true, data: { confirm: 'Are you sure?' },:class=>'glyphicon glyphicon-remove delete-items'))%></td></tr>");