<h1>修改账目</h1>

<%= bootstrap_form_for(@item) do |f| %>
  <div class="field">
      <%= f.alert_message "Please fix the errors below." %>
      <%= f.text_field( :price, prepend: "$", append: ".00", hide_label: :true,:placeholder=>"金额：",:class=>"item-sz") %>
      <%= f.text_field( :time, :label=> "时间",:class=>"form-input datepicker item-sz")%>
      <%= f.select( :lei, [['支出', '支出'], ['收入', '收入']],{},{:label=>"类型",:class=>"form-input select-lei"} ) %>
      <%= f.select( :way, Shezhi.where(:lei =>'支出').collect {|s| [ s.way, s.way ] },{},{:label=>"用途",:class=>"form-input"} ) %>
      <%= f.text_field( :ps, :label=>"备注",:class=>"form-input item-sz") %>
      <%= f.submit "保存",:class=>"btn btn-primary btn-form"%>
</div>
<% end %>

<%= link_to 'Back', items_path %>
